.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search-container {
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
}
